.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
.home {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    overflow: auto;
}
.post-link {
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.post-link:hover {
    color: black;
    transform: scale(1.02);
}

@media (max-width: 400px) {
    .home {
        flex-direction: column;
        height: auto;
        align-items: center;
        overflow-x: none;
    }
    .home-posts {
        width: 100%;
        height: auto;
        overflow-x: none;
    }
    .post-link {
        font-size: 1.2em;
    }
}
