
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.profilepicture{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
    margin: 50px;
    background-color: #f9f9f9;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #ddd;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
    margin: 50px;
}

.bio-text {
    display: flex;;
    align-items: center;
    justify-content: center;

}
.bio-text p {

}

.followerlist {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 8px #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-left: 50px;
}
.followerlist ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: auto;
    height: 250px
}
.followerlist li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
}

.follow {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    border: rgb(47, 122, 214);
    padding: 15px;
    width: 100px;
    background-color: rgb(47, 122, 214);
}

.unfollow {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    border: rgb(47, 122, 214);
    padding: 15px;
    width: 100px;
    background-color: rgb(53, 214, 47);
}

.follow:hover {
    background-color: rgb(99, 167, 223);
    cursor: pointer;
}

.unfollow:hover {
    background-color: rgb(111, 226, 111);
    cursor: pointer;
}
.follow-button {
    margin: 20px;
  }


.bio-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #72b0f3;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 15px;
  }
  
  .bio-button:hover {
    background-color: #0056b3;
  }

  .edit-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: lightgreen;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 5px;
  }
  .cancel-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 5px;
  }

  
  .file-input {
    display: none;
  }

  .custom-file-upload {
    display: inline-block;
    padding: 7px 20px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #72b0f3;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 5px;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }

  .posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  @media (max-width: 1000px) {
    .profilepicture {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 0px #ddd;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .posts {
        display: flex;
        justify-content: center;
        flex-wrap: column;
      }
    .post {
        max-width: 400px;
      }
    .post img {
        width: 400px;
        height: 400px;
      }
    .followerlist {
        margin-left: 0px;
      }
    }

@media (max-width: 675px) {
  .header {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .profilepicture img {
    width: 150px;
    height: 150px;
  }
  .bio {
    width: 150px;
  }
.post {
    width: 250px;
  }
.post img {
    width: 275px;
    height: 275px;
  }
.bio-text {
  flex-direction: row;
}
  
  .bio-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #72b0f3;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 5px;
  }
  .bio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .bio-button:hover {
    background-color: #0056b3;
  }
  .edit-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: lightgreen;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 5px;
  }
.update-wrapper {
  margin: -50px;
}
}
  
/* Edit Profile Page */

.cancel-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 5px;
}

.cancel-button:hover {
  background-color: red;
}

.update-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 50px;
  background-color: #f9f9f9;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ddd;
}

.desc {
  width: 200px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  margin: 10px;
}

.desc:focus {
  outline: none;
  border-color: #72b0f3;
}


.edit-button:hover {
  background-color: rgb(0, 255, 0);
}

.update-wrapper form p {
  margin: 10px 0;
}


/*Share*/

.sharelinks {
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.sharelinks button {
  margin: 15px;
  border: none;
  background-color: white;
  font-size: 17px;;
}

.react-share__ShareButton:hover {
  cursor: pointer;
}
.react-share__ShareButton img {
  width: 30px;
  height: 30px;
  border: none;
}

.loading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image-frame {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures the image does not overflow the frame */
}

.image-frame img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures the image maintains aspect ratio */
}
@keyframes easeInOut {
  0%, 100% {
    opacity: 0;
    transform: scale(0.8);  /* Original size */
  }
  50% {
    opacity: 1;
    transform: scale(1.1); /* Scale the image to 120% */
  }
}

.loading img {
  width: 100px;
  height: 100px;
  margin-top: 200px;
  animation: easeInOut 2s infinite; /* Apply the animation */
}